#page-wrap{
	width: 600px;
    margin: 0 auto;
	background-color:#CBDEF2;	
}

#questionDisplay{
	padding:2px 1px 2px 0px;
	font-weight: bold;
}

.header{
	background-color: #2E5378;
	width: 600px;
}

h1{
	font-color:#FFFFFF;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
  color:#FFFFFF;
}

input[type="submit"] {
    background-color:#FF9966 ;
    width: 150px; /* width of image */
    height: 50px; /* height of image */
    border: 0;
}
